@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

.logo {
  position: absolute;
  width: 40px;
  position: absolute;
  bottom: 20px;
  align-items: center;
}

/* 메뉴바 스타일 */
nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5%;
  background-color: transparent;
  color: #000000;
  margin-left: -17px;
  padding: 12px;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: -7px;
  align-items: center;
}

nav ul li {
  margin: -2px 2px;
  font-size: 9px;
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 600;
  text-align: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 7px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

.narrow-link {
  display: inline-block;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  height: 50px;
  position: fixed;
}

b {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

div {
  width: 100vw;
  height: 100vh;
}

/* 네비게이션 */
#bthome {
  color: #bbbbbb;
}
b {
  font-size: 100px;
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  color: white;
  padding: 5px;
}
b:hover {
  color: black;
}

/* Window 1 */
#window1 {
  background-image: url('src/sky1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window1 .logo {
  display: none;
}

#intro {
  position: absolute;
  top: 50%;
  height: 240px;
  margin-top: -230px;
}
#intro h1 {
  color: #cf92e6;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

/* window2 */
#window2 {
  background-image: url('src/sky2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window2 h1 {
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
}

#window2 .slide-container {
  width: 224px;
  height: 288px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 295px;
}

#window2 .slide-album {
  position: relative;
  width: 224px;
  height: 288px;
  overflow: hidden;
  border-radius: 10px;
}
#window2 .slide-images {
  position: relative;
  display: flex;
  width: 672px;
  height: 288px;
  transition: transform 0.5s ease-out;
}
#window2 .slide-images img {
  width: 224px;
  height: auto;
}

.btn-next,
.btn-next:active,
.btn-next:focus {
  position: absolute;
  padding: 8px 8px 7px 14px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 7px;
  border-radius: 100%;
}
.btn-prev,
.btn-prev:active,
.btn-prev:focus {
  position: absolute;
  padding: 8px 14px 7px 8px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 7px;
  border-radius: 100%;
  left: 50px;
}
.btn-next:hover,
.btn-prev:hover {
  cursor: pointer;
  background-color: transparent;
  color: #93cddf;
  transition: 0.7s ease-out;
}
.btn-prev {
  left: 0%;
  top: 46%;
}
.btn-next {
  right: 0%;
  top: 46%;
}

.page-transition {
  transition: opacity 0.5s ease-in-out;
}

#window2 #profile {
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  top: 480px;
  left: -95px;
}

#window2 #activity {
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  top: 480px;
  right: -95px;
}

#window2 h2 {
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  line-height: 2.3;
  text-align: center;
}

#window2 h3 {
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  font-size: 9px;
  color: #fff;
  line-height: 2.3;
  text-align: center;
  text-decoration: none;
}

#window2 h4 {
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  line-height: 2;
  text-align: center;
}

#window2 a {
  text-decoration: none;
}

/* Window 3 */
#window3 {
  background-image: url('src/sky3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window3 h1 {
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
}

#window3 #loves {
  top: 19%;
  position: absolute;
}

#window3 h2 {
  margin-top: 32px;
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  line-height: 5;
  text-align: center;
}

.img1 {
  position: absolute;
  top: 23%;
  left: 8%;
  width: 85px;
}

.img2 {
  position: absolute;
  top: 49%;
  left: 5%;
  width: 115px;
}

.img3 {
  position: absolute;
  top: 71%;
  left: 8%;
  width: 100px;
}

.img4 {
  position: absolute;
  top: 34%;
  left: 66%;
  width: 115px;
}

.img5 {
  position: absolute;
  top: 56%;
  left: 67%;
  width: 100px;
}

.img6 {
  position: absolute;
  top: 77%;
  left: 67%;
  width: 100px;
}

/* Window 4 */
#window4 {
  background-image: url('src/sky4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window4 h1 {
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
}

#window4 #skills {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#window4 h2 {
  top: 85%;
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 4.5;
  text-align: center;
  font-size: 15px;
}

#window4 .image1 {
  top: 49%;
  left: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 200px;
  position: absolute;
}

#window4 .image2 {
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 200px;
  position: absolute;
}

/* Window 5 */
#window5 {
  background-image: url('src/sky5mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window5 h1 {
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SUITE-Regular', sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
}

.gmail {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

.telegram {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

.github {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

.medium {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

.velog {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

.insta {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

.soundcloud {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  position: absolute;
}

#window1,
#window2,
#window3,
#window4,
#window5 {
  overflow-x: hidden;
  overflow-y: hidden;
}
